.App {
  text-align: center;
}

.App-header {
  background-color: #38aa71;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
}


